body {
  background-color: #000000; /* Negro */
  color: #FFD700; /* Amarillo Oro */
}

.navbar {
  background-color: #FFD700; /* Amarillo Oro */
}

.nav-link {
  color: #000000; /* Negro */
}

.btn-primary {
  background-color: #FFD700; /* Amarillo Oro */
  border-color: #FFD700; /* Amarillo Oro */
}

.card {
  background-color: #000000; /* Negro */
  color: #FFD700; /* Amarillo Oro */
  border-color: #FFD700; /* Amarillo Oro */
}
