body {
  background-color: #333;
}

.display-4,
.lead,
.custom-carousel-container,
.row > div > h2,
.row > div > p {
  color: #fff;
}

.navbar {
  background-color: #FFD700; /* Amarillo Oro */
}

.nav-link {
  color: #000000; /* Negro */
}

.btn-primary {
  background-color: #FFD700; /* Amarillo Oro */
  border-color: #FFD700; /* Amarillo Oro */
}

.card {
  background-color: #000000; /* Negro */
  color: #FFD700; /* Amarillo Oro */
  border-color: #FFD700; /* Amarillo Oro */
}

.custom-carousel-container {
  max-width: 800px;
  margin: 0 auto;
}

.custom-carousel {
  max-width: 800px; /* Ajusta esto al ancho que prefieras */
  max-height: 500px; /* Ajusta esto a la altura que prefieras */
  overflow: hidden;
}

.custom-carousel__image {
  max-height: 400px;
  object-fit: cover;
  margin: 0 auto;
}

.custom-nav-link {
  color: white !important;
  position: relative;
}

.custom-nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: gold;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.custom-nav-link:hover::after {
  visibility: visible;
  width: 100%;
}

.row > div {
  margin-bottom: 1.5rem;
}

.btn-custom {
  background-color: #add8e6; /* Este es un tono de azul claro */
  color: #000; /* El texto será negro */
}

.review-data-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.review-data-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.review-data-item {
  margin-bottom: 10px;
}

.review-data-label {
  font-weight: bold;
}

.review-data-value {
  margin-left: 5px;
}

.btn-custom {
  background-color: #add8e6;
  color: #000;
}

.my-title-class {
  color: #FFD700; /* Oro */
}

.my-content-class {
  color: #FFF; /* Blanco */
}

.my-confirm-button-class {
  background-color: #FFD700; /* Oro */
  color: #333; /* Negro */
}

.my-cancel-button-class {
  background-color: #FFF; /* Blanco */
  color: #333; /* Negro */
}

.my-swal-container {
  background-color: black;
}

.my-swal-popup {
  background-color: black;
}

.my-swal-title, .my-swal-content, .my-swal-confirm-button {
  color: #FFD700; /* Este es un tono de dorado más brillante */
}

.info-cita {
  border: 2px solid #FFD700;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.info-cita-label {
  font-weight: bold;
}

.info-cita-value {
  color: #FFD700; /* Este es un tono de dorado más brillante */
}

.my-swal-container {
  background-color: black;
}

.my-swal-popup {
  background-color: black;
}

.my-swal-title, .my-swal-content, .my-swal-confirm-button {
  color: #FFD700; /* Este es un tono de dorado más brillante */
}

.terms-conditions {
  border: 2px solid #FFD700;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
}

.terms-conditions h1, .terms-conditions p, .terms-conditions ol li {
  color: #FFD700;
}